{% load static %}
<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="text-primary m-0 font-weight-bold">
                        {% if page_obj %}
                            {% for cpo in page_obj %}
                                {{ patient.nombre }} {{ patient.primer_apellido }} |
                                {{ cpo.creado }}
                            {% endfor %}
                        {% else %} {{ patient.nombre }} {{ patient.primer_apellido }} |
                            No existen registros de CPO para paciente actual.
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card-body">
                <!-- Estructura necesaria para armar el CPO -->
                <div class="container pt-3">
                    <div class="row">
                        <div id="tr" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div id="tl" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div id="tlr" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        </div>
                        <div id="tll" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div id="blr" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        </div>
                        <div id="bll" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div id="br" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div id="bl" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    {% if page_obj %}
                        {% for cpo in page_obj %}
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">CeoD</span>
                                        </div>
                                        <div type="text" class="form-control">
                                            {% if cpo.ceod %}
                                                {{ cpo.ceod }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">CeoS</span>
                                        </div>
                                        <div type="text" class="form-control">
                                            {% if cpo.ceos %}
                                                {{ cpo.ceos }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">CpoD</span>
                                        </div>
                                        <div type="text" class="form-control">
                                            {% if cpo.cpod %}
                                                {{ cpo.cpod }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">CpoS</span>
                                        </div>
                                        <div type="text" class="form-control">
                                            {% if cpo.cpos %}
                                                {{ cpo.cpos }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div id="cpo_ultimo" value= {{ cpo.contenido_cpo }}>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if page_obj %}
                    <div class="pagination justify-content-center">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a class="mr-2" href="?page=1">&laquo; Inicio</a>
                                <a class="mr-2" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current mr-2">
                                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a class="mr-2" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                <a class="mr-2" href="?page={{ page_obj.paginator.num_pages }}">Final &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Sección lateral de referencias -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold" style="width: 456px;">Referencias</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--Referencias-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="height: 20px; width:20px; display:inline-block;"
                             class="decayed-tooth-ref"></div>
                        = Cariado
                        <br>
                        <div style="height: 20px; width:20px; display:inline-block;"
                             class="filled-tooth-ref"></div>
                        = Obturación
                        <br>
                        <div>
                            <img class="referencia"
                                 src="{% static 'assets/img/CPO/ausente.svg' %}"> =
                            <span style="display:inline-block;">Ausente</span>
                        </div>

                        <div>
                            <img class="referencia"
                                 src="{% static 'assets/img/CPO/perdido.svg' %}"> =
                            <span style="display:inline-block;">Perdido</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
