{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Antecedentes{% endblock %}
{% block page-title %}Agregar Antecedentes Clínicos{% endblock %}

{% block page-content %}
    <div class="form-row">
        <div class="form-group col-lg-10">
            <form method="post" action="">
                {% csrf_token %}
                <table class="col-sm-10">
                    {{ form.as_table }}
                </table>
                <div class="footer" align="right">
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block page-javascript %}
    <script type="text/javascript" src="{% static 'assets/js/hide-elements-antecedentes.js'%}">
    </script>
    <script>
        $('select').attr('class', 'form-control');
    </script>
{% endblock %}
