{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Agregar Paciente{% endblock %}

{% block page-title %}
    {% if 'editarpaciente' in request.path %} Editar
    {% else %} Agregar {% endif %} Paciente
{% endblock %}


{% block page-content %}
    <div class="container-fluid">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-8 col-xl-8 mb-4">
                    <div class="card shadow border-left-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters mb-3">
                                <div class="form-row mb-2">
                                    <div>
                                        <!-- Documento -->
                                        <label for="{{ form.documento.id_for_label }}">
                                            Documento *</label>
                                        {{ form.documento }}
                                        {% if form.documento.errors %}
                                            <div class="warning">
                                                {{ form.documento.errors }}
                                            </div>
                                        {% else %}
                                            <small id="defaultRegisterFormCIHelpBlock"
                                                   class="form-text text-muted mb-2">
                                                {{ form.documento.help_text }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters mb-3">
                                <div class="form-row mb-4">
                                    <div class="col-lg-4 col-md-4">
                                        <!-- Nombre -->
                                        <label> Nombre *</label>
                                        {{ form.nombre }}
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Primer Apellido -->
                                        <label> Primer Apellido *</label>
                                        {{ form.primer_apellido }}
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Segundo Apellido -->
                                        <label> Segundo Apellido </label>
                                        {{ form.segundo_apellido }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="col-md-4">
                                    <!-- Fecha Nacimiento -->
                                    <label> Fecha de Nacimiento * </label>
                                    {{ form.fecha_nacimiento }}
                                    <small id="defaultRegisterFormCIHelpBlock"
                                           class="form-text text-muted mb-2">
                                        {{ form.fecha_nacimiento.help_text }}
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <!-- Sexo -->
                                    <div>
                                        <label> Sexo * </label>
                                    </div>
                                    <div>
                                        {{ form.genero }}
                                    </div>
                                </div>

                            </div>
                            <div class="form-row mb-4">
                                <div class="col-md-6">
                                    <!-- Direccion -->
                                    <label> Dirección * </label>
                                    {{ form.direccion }}
                                </div>
                                <div class="col-md-4">
                                    <!-- Departamento -->
                                    <label> Departamento *</label>
                                    {{ form.ciudad }}
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="col-md-6">
                                    <!-- Email -->
                                    <label> Email </label>
                                    {{ form.email }}
                                </div>
                                <div class="col-md-4">
                                    <!-- Telefono  -->
                                    <label> Teléfono Celular *</label>
                                    {{ form.celular }}
                                    {% if form.celular.errors %}
                                        <div class="warning">
                                            {{ form.celular.errors }}
                                        </div>
                                    {% else %}
                                        <small id="defaultRegisterFormCIHelpBlock"
                                               class="form-text text-muted mb-2">
                                            {{ form.celular.help_text }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="row justify-content-end mr-3">
                                <button type="submit" class="btn btn-info">
                                    Guardar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

{% block page-javascript %}
    {{ form.media }}
{% endblock %}
