{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Charts{% endblock %}
{% block page-title %}Análisis de Negocio{% endblock %}

{% block page-content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chartPatientDpto" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chartPatientGen" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chartPatientCons" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page-javascript %}
    <script>
        $(document).ready(function () {
            const endpoint = '/dentalE/api/chart/data/'
            let defaultData, labels = []
            let defaultDataGen, labelsGen = []
            let defaultDataAnt, labelsAnt = []

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    labels = data.data.labels
                    defaultData = data.data.values
                    labelsGen = data.datos.labelsGen
                    defaultDataGen = data.datos.valuesGen
                    labelsAnt = data.datosA.labelsAnt
                    defaultDataAnt = data.datosA.valuesAnt
                    setChart()
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                },
            })

            function setChart() {
                const ctx = document.getElementById('chartPatientDpto').getContext('2d')
                const ctx2 = document.getElementById('chartPatientGen').getContext('2d');
                const ctx3 = document.getElementById('chartPatientCons').getContext('2d');
                const chartPatientDpto = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: defaultData,
                            label: 'Cantidad',
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Pacientes por departamento'
                        }

                    }
                });
                const chartPatientGen = new Chart(ctx2, {
                    type: 'doughnut',
                    data: {
                        labels: labelsGen,
                        datasets: [{
                            label: 'Pacientes por Sexo',
                            data: defaultDataGen,
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Pacientes por Género'
                        }
                    }

                });
                const chartPatientCons = new Chart(ctx3, {
                    type: 'polarArea',
                    data: {
                        labels: labelsAnt,
                        datasets: [{
                            label: 'Prevalencia de Antecedentes',
                            data: defaultDataAnt,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 71, 0.2)',
                                'rgba(46, 139, 87, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 71, 1)',
                                'rgba(46, 139, 87, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },

                });
            }
        })
    </script>
{% endblock %}
