{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Charts{% endblock %}
{% block page-title %}Prueba Charts{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-sm-10">
            <div class="col-sm-6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block page-javascript %}
    <script>
        $(document).ready(function () {
            const endpoint = '/dentalE/api/chart/data/'
            let defaultData = []
            let labels = []
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    labels = data.labels
                    defaultData = data.values
                    setChart()
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                },
            })

            function setChart() {
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Pacientes por Departamento',
                            data: defaultData,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        })
    </script>
{% endblock %}
