{
%
load
static
%
}
.bg-gradient-primary-alma {
    background-color: #39b9a7;
    background-image: linear-gradient(180deg, #0097a7, #00838f 70%);
    background-size: cover;
}

.text-primary-alma {
    color: #00838f !important;
}

.primary-color-alma {
    color: #0097a7 !important;
}

.text-alma {
    font-family: Roboto;
    color: #5a5c69;
}

.page-link:hover {
    z-index: 2;
    color: #00838f;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
}

a:hover {
    color: #68d9d3;
    text-decoration: underline;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00acc1;
    background-color: #fff;
    border: 1px solid #dddfeb;
}

a {
    color: #00acc1;
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style: none;
    margin-right: 12px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0097a7;
    border-color: #0097a7;
}

.btn-primary {
    color: #fff;
    background-color: #00ACC1;
    border-color: #00ACC1;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00ACC1;
    border-color: #0097a7;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 131, 143, 0.5);
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #0097A7;
    border-color: #0097A7;
}

.warning {
    color: #D32F2F;
}

.text-primary {
    color: #00838f !important;
}

.dropdown .dropdown-list .dropdown-header {
    background-color: #00ACC1;
    border: 1px solid #00ACC1;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}

/*Cambio de logo según tamaño de pantalla*/
@media only screen and (max-width: 767px) {
    #logo {
        content: url("/static/assets/img/logos/logo_imagen.png");
        width: 50%;

    }
}

@media only screen and (min-width: 767px) {
    #logo {
        content: url("/static/assets/img/logos/LogoHAlma.png");
        width: 100%;

    }
}

/*Navbar*/
.actual-page {
    font-weight: bold;
    color: white;
}

.navbar li {
    margin-right: 0px;
}

/*CSS CPO*/
.diente {
    position: static;
    width: 0px;
    height: auto;
    margin-left: 3.255vw;
    display: inline-block;
}

.primer-diente {
    position: static;
    width: 0px;
    height: auto;
    margin-left: 0px;
    display: inline-block;
}

.cuadro {
    background-color: #FFFFFF;
    border: 0.065vw solid #7F7F7F;
    position: relative;
    width: 1.628vw;
    height: 0.977vw;
    left: 2.930vw;
    -webkit-border-radius: 5.208vw 5.208vw 0px 0.977vw;
    -moz-border-radius: 5.208vw 5.208vw 0px 0.977vw;
    border-radius: 5.208vw 5.208vw 0px 0.977vw;
}

.cuadro:hover {
    /*background: rgba(117, 198, 243, 0.4);*/

    cursor: pointer;
}

.izquierdo {
    top: 0.065vw !important;
    left: 1.823vw !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.debajo {
    top: 0.130vw !important;
    left: 2.930vw !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.derecha {
    top: -1.888vw !important;
    left: 3.971vw !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.centro {
    background: #F3F3F3;
    border: 0.065vw solid #7F7F7F;
    width: 1.628vw;
    height: 1.628vw;
    top: -3.190vw;
    left: 2.930vw;
    position: relative;
}

.centro:hover {
    border: 0.065vw solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/

    cursor: pointer;
}

.decayed-tooth {
    background-color: #D32F2F !important;
}

.decayed-tooth-ref {
    background-color: #D32F2F !important;
}

.filled-tooth {
    background-color: #0D47A1 !important;
}

.filled-tooth-ref {
    background-color: #0D47A1 !important;
}

.lacking-tooth {
    background-color: #747f7d !important;
}

.missing-tooth {
    background-color: #f8d228 !important;
}

.kill {
    background-color: green;
}

.diente-leche {
    position: relative;
    width: 0px;
    height: auto;
    margin-left: 3.255vw;
    display: inline-block;
}

.primer-diente-leche {
    position: relative;
    width: 0px;
    height: auto;
    margin-left: 0px;
    display: inline-block;
}

.cuadro-leche {
    border: 0.065vw solid #7F7F7F;
    position: relative;
    width: 0.846vw;
    height: 0.846vw;
    left: 2.930vw;
    -webkit-border-radius: 5.208vw 5.208vw 0px 0.977vw;
    -moz-border-radius: 5.208vw 5.208vw 0px 0.977vw;
    border-radius: 5.208vw 5.208vw 0px 0.977vw;
}

.cuadro-leche:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    cursor: pointer;
}

.izquierdo-leche {
    top: -0.260vw !important;
    left: 2.409vw !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.top-leche {
    width: 0.977vw;
    left: 3.060vw;
}

.debajo-leche {
    width: 0.977vw;
    top: -0.521vw !important;
    left: 3.060vw !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.derecha-leche {
    top: -1.953vw !important;
    left: 3.776vw !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.centro-leche {
    background: #F3F3F3;
    border: 0.065vw solid #7F7F7F;
    width: 0.977vw;
    height: 0.846vw;
    top: -2.799vw;
    left: 3.060vw;
    position: relative;
}

.centro-leche:hover {
    border: 0.065vw solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/

    cursor: pointer;
}

.referencia {
    width: 24px;
    height: 22px;
    display: inline;
}

.label-alma {
    background: #fed74f;
}

.btn-cariado {
    color: #fff;
    background-color: #D32F2F;
    border-color: #D32F2F;
}

.btn-obturado {
    color: #fff;
    background-color: #0D47A1;
    border-color: #0D47A1;
}

.btn-perdido {
    color: #fff;
    background-color: #F4B30D;
    border-color: #F4B30D;
}

.btn-ausente {
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}


/*Login CSS*/
/* home */
.home {
    text-align: center;
    padding: 60px 0;
}

.home h1 {
    padding: 15px 0;
}

.home p {
    width: 50%;
    margin: 0 auto;
}

.home button {
    margin-top: 50px;
    color: #fff;
}

@media (max-width: 767px) {
    .home {
        padding: 28px 0;
    }

    .home h1 {
        padding: 15px 0;
        font-size: 20px;
    }

    .home p {
        width: 82%;
        font-size: 14px;
    }

    .home button {
        font-size: 13px;
    }
}

/* body */
.body-login {
    font-family: "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #3ab7ab;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url(/static/assets/img/background/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 650px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;
    color: #fff;
}

@media (max-width: 499px) {
    body {
        background-size: auto 1000px;
        height: 550px;
    }
}

/* wrapper */
.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 3000px;
        padding: 0 100px;
    }
}

@media (max-width: 1199px) {
    .wrapper {
        padding: 0 70px;
    }
}

@media (max-width: 991px) {
    .wrapper {
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 499px) {
    .wrapper {
        padding: 0 15px;
    }
}

