{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block page-title %}Agregar Cita{% endblock %}

{% block page-content %}
    <div class="form-row">
        <div class="form-group col-lg-10">
            <form method="post" action="">
                <link rel="stylesheet"
                      href="{% static 'assets/fullcalendar-5.3.2/lib/main.css' %}">
                <div id='calendar'></div>
            </form>
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal fade" id="exampleModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Datos de la Cita</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label>Paciente:</label>
                                        {{ form.paciente }}
                                        <!--input type="text" class="form-control" name="txtPaciente" id="txtPaciente"-->
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label>Profesional:</label>
                                        {{ form.doctor }}
                                        <!--input type="text" class="form-control" name="txtProf" id="txtProf"-->
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label>Fecha:</label>
                                        {{ form.fecha }}
                                        <!--input type="text" class="form-control" name="txtFecha" id="txtFecha"-->
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Hora:</label>
                                        {{ form.hora }}
                                        <!--input type="time" min="07:00" max="19:00" step="600"
                                               class="form-control" name="txtHora" id="txtHora"-->
                                    </div>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button type="submit" id="btnAdd"
                                        class="btn btn-success">Agregar
                                </button>
                                <button id="btnEdit" class="btn btn-warning">
                                    Modificar
                                </button>
                                <button id="btnDelete" class="btn btn-danger">
                                    Eliminar
                                </button>
                                <button id="btnCancel" data-dismiss="modal"
                                        class="btn btn-secondary">Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page-javascript %}
    <script src="{% static 'assets/fullcalendar-5.3.2/lib/main.js' %}"></script>
    <script src="{% static 'assets/fullcalendar-5.3.2/lib/es.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar;
            calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'local',
                initialView: 'dayGridMonth',
                language: 'Spanish',
                selectable: true,
                editable: true,
                headerToolbar: {
                    right: 'dayGridMonth, timeGridWeek, timeGridDay',
                    left: 'prev,next',
                    center: 'title'
                },
                slotLabelFormat: [
                    {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                        meridiem: 'short'
                    }
                ],

                events: [
                    {% for i in citasList %}
                        {
                            title: "{{ i.paciente.nombre}}",
                            start: '{{ i.fecha|date:"Y-m-d" }}T{{ i.hora|time:"H:i"}}',
                            id: '{{ i.id }}',
                        },
                    {% endfor %}
                ],

                eventClick: function (info) {
                    location.href = `/dentalE/editarcita/${info.event.id}`;
                },

                dateClick: function (info) {
                    limpiarFormulario();
                    $('#id_fecha').val(info.dateStr);
                    $('#btnAdd').prop("disabled", false);
                    $('#btnEdit').prop("disabled", true);
                    $('#btnDelete').prop("disabled", true);
                    $('#exampleModal').modal('toggle');
                }

            });
            calendar.setOption('locale', 'es')
            calendar.render();

            function limpiarFormulario() {
                $('#id_paciente').val("");
                $('#txtProf').val("");
                $('#txtFecha').val("");
                $('#txtHora').val("");
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            if (location.href.includes('editarcita')) {
                $('#btnAdd').prop("disabled", true);
                $('#btnEdit').prop("disabled", false);
                $('#btnDelete').prop("disabled", false);
                $('#exampleModal').modal();
            }
        });
    </script>
{% endblock %}
