{% load static %}
<li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                                    data-toggle="dropdown" aria-expanded="false"
                                                    href="#"><i class="fas fa-search"></i></a>
    <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
         aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto navbar-search w-100">
            <div class="input-group"><input class="bg-light form-control border-0 small"
                                            type="text" placeholder="Buscar ...">
                <div class="input-group-append">
                    <button class="btn btn-primary py-0" type="button"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</li>