{% load static %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary-alma p-0"
     style="background-color: #0f6470;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
           href="/dentalE/resumendia/"
           style="width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;background: #040404;">
            <!--img class="img-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="width:100%;"-->
            <div id="logo" class="sidebar-brand-icon"></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link" href="/dentalE/resumendia/">
                    <i class="far fa-calendar-check-o"
                            {% if 'resumendia' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'resumendia' in request.path %} actual-page {% endif %}>Citas del día</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dentalE/agregarcita/">
                    <i class="far fa-calendar-alt"
                            {% if 'agregarcita' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'agregarcita' in request.path %} actual-page {% endif %}>Agenda</span></a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="/dentalE/profesionales/"><i
                    class="fas fa-user-md"
                    {% if 'profesionales' in request.path %}
                    style="color: white" {% endif %}></i>
                <span {% if 'profesionales' in request.path %}
                    class=actual-page {% endif %}>Profesionales</span></a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="/dentalE/listapacientes/">
                <i class="fas fa-user"
                        {% if 'listapacientes' in request.path %}
                   style="color: white" {% endif %}></i>
                <span class={% if 'listapacientes' in request.path %} actual-page {% endif %}>Pacientes</span></a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="/dentalE/agregarpaciente/">
                <i class="fas fa-user-plus"
                        {% if 'agregarpaciente' in request.path %}
                   style="color: white" {% endif %}></i>
                <span class={% if 'agregarpaciente' in request.path %} actual-page {% endif %}>Agregar Paciente</span></a>
            </li>
            {% if user.userprofile.user_tipo == 'DOCTOR' %}
                <li class="nav-item"><a class="nav-link"
                                        href="/dentalE/agregarantecedentes/">
                    <i class="fas fa-laptop-medical"
                            {% if 'agregarantecedentes' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'agregarantecedentes' in request.path %} actual-page {% endif %}>Agregar Antecedentes Clínicos</span></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/dentalE/agregarcpo/">
                    <i class="fas fa-teeth-open"
                            {% if 'agregarcpo' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'agregarcpo' in request.path %} actual-page {% endif %}>Agregar CPO</span></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/dentalE/agregartratamiento/">
                    <i class="fas fa-tooth"
                            {% if 'agregartratamiento' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'agregartratamiento' in request.path %} actual-page {% endif %}>Agregar Consulta Odontología Gral.</span></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/dentalE/agregarortodoncia/">
                    <i class="fas fa-teeth"
                            {% if 'agregarortodoncia' in request.path %}
                       style="color: white" {% endif %}></i>
                    <span class={% if 'agregarortodoncia' in request.path %} actual-page {% endif %}>Agregar Consulta Ortodoncia | Ortopedia</span></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/dentalE/analitica/"><i class="far fa-chart-bar"
                        {% if 'negocio' in request.path %}
                                                                    style="color: white" {% endif %}></i>
                    <span {% if 'negocio' in request.path %}
                        actual-page {% endif %}>Negocio</span></a></li>
            {% endif %}
            <!--li class="nav-item"><a class="nav-link" href="nucleos-familiares.html">
                <i class="fas fa-users" {% if 'listanucleos' in request.path %}
                 style="color: white" {% endif %}></i>
                <span class={% if 'listanucleos' in request.path %}
                 actual-page {% endif %}>Núcleos Familiares</span></a>
            </li-->
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle"
                    type="button"></button>
        </div>
    </div>
</nav>