{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Términos y Condiciones{% endblock %}
{% block page-title %}{% endblock %}

{% block page-content %}
    <div class="form-row">
        <div class="form-group col-lg-10">
            <div class="modal fade" id="termnsModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">TÉRMINOS Y CONDICIONES</h5>
                        </div>
                        <div class="modal-body">
                            {% include 'almaFront/bases/terms-text.html' %}
                        </div>
                        <div class="modal-footer" >

                             <form method="post" action="" >
                                 {% csrf_token %}
                                    <button type="submit" id="btnClose"
                                            class="btn btn-info">Cerrar</button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block page-javascript %}
    <!-- terminos modal -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#termnsModal").modal('show');
        });
    </script>
{% endblock %}