<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <style>

        .title {
            color: #176357;
            margin-bottom: 0px;
            margin-top: 20px;
        }

        .li {
            list-style-type: disc;
            color: #176357;
        }

        .web {
            text-align: center;
            color: #176357;
        }

        .logo {
            width: 300px;
            height: 100px;
            display: block;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Title</title>
</head>
<img class="logo" src="/static/assets/img/logos/LogoHAlma_2.jpg"/>
<p class="text-justify">
<p style="text-align: center">Bienvenido a Dental-E la Historia Cl&iacute;nica Odontol&oacute;gica
    Electr&oacute;nica.<br>
    Estos t&eacute;rminos de servicio rigen el uso de nuestra aplicaci&oacute;n web ubicada en:
<p class="web">https://dentale.herokuapp.com/</p>
<p class="title">1. Introducci&oacute;n </p>
Nuestra pol&iacute;tica de privacidad tambi&eacute;n rige el uso de nuestra aplicaci&oacute;n y explica c&oacute;mo
recopilamos, protegemos y divulgamos la informaci&oacute;n que resulta de su uso.<br>
Mediante su aceptaci&oacute;n reconoce que ha le&iacute;do, comprendido y acepta regirse por ellos.<br>
Si no est&aacute; de acuerdo o no puede cumplir con estos t&eacute;rminos, entonces no estar&aacute; habilitado para
utilizarla, pero puede comunicarse con nosotros enviando un correo electr&oacute;nico a <span style="color: #176357">almatech20@gmail.com </span>
para que podamos tratar de encontrar una soluci&oacute;n.<br>
Estos t&eacute;rminos se aplican a todos los visitantes, usuarios y otras personas que deseen acceder o utilizar la
aplicaci&oacute;n.
<p class="title">2. Comunicaciones</p>
Al utilizar nuestra aplicaci&oacute;n, usted acepta suscribirse a boletines informativos, materiales de marketing o
promocionales u otra informaci&oacute;n que podamos enviar. Sin embargo, puede optar por no recibir estas
comunicaciones enviando su solicitud a <span style="color: #176357">almatech20@gmail.com</span>.

<p class="title">3. Contenido</p>
Nuestra aplicaci&oacute;n le permite vincular, almacenar, compartir y poner a disposici&oacute;n cierta informaci&oacute;n,
texto y gr&aacute;ficos. Usted es responsable del contenido que comparte en ella, incluida su legalidad,
confiabilidad y adecuaci&oacute;n.<br>
Al publicar el contenido mencionado mediante esta aplicaci&oacute;n, usted declara y garantiza que:<br>
Este es de su propiedad o tiene el derecho a usarlo y el derecho a otorgarnos los derechos y la licencia seg&uacute;n
lo dispuesto en estos t&eacute;rminos y que la publicaci&oacute;n del mismo a trav&eacute;s de nuestra aplicaci&oacute;n
no viola los derechos de privacidad, derechos de autor, derechos contractuales o cualquier otro derecho de cualquier
persona o entidad. <br>
Nos reservamos el derecho de cancelar la cuenta de cualquier persona que infrinja los antes mencionados.<br>
Usted conserva todos y cada uno de los derechos sobre cualquier contenido que almacene en nuestro servicio y es
responsable de protegerlos. No nos hacemos responsables ni asumimos ninguna responsabilidad por el contenido que
usted o cualquier tercero publique. <br>
Usted acepta que esta licencia incluye el derecho para que hagamos su contenido disponible para otros usuarios de la
aplicaci&oacute;n, dentro de su instituci&oacute;n, quienes tambi&eacute;n pueden usarlo sujeto a estos t&eacute;rminos.
<br>
AlmaTech tiene derecho, pero no obligaci&oacute;n, de monitorear y editar todo el contenido proporcionado por los
usuarios.

<p class="title">4. Usos prohibidos</p>
Puede usar la aplicaci&oacute;n s&oacute;lo para fines legales y de acuerdo con los t&eacute;rminos acepta no
utilizarla de modo que :<br>
<br>
<ul>
    <li class="li">Viole cualquier ley o reglamento nacional o internacional aplicable.</li>
</ul>
<ul>
    <li class="li">Sea con el prop&oacute;sito de explotar, da&ntilde;ar o intentar explotar o da&ntilde;ar a menores de
        cualquier
        manera exponi&eacute;ndolos a contenido inapropiado o de otra manera.
    </li>
</ul>
<ul>
    <li class="li">Transmita o procure el env&iacute;o de cualquier material publicitario o promocional, incluyendo
        cualquier &ldquo;correo
        basura&rdquo;, &ldquo;carta en cadena&rdquo;, &ldquo;spam&rdquo; o cualquier otra solicitud similar.
    </li>
</ul>
<ul>
    <li class="li">Intente suplantar la identidad de cualquier miembro de AlmaTech, otro usuario o cualquier otra
        persona o
        entidad.
    </li>
</ul>
<ul>
    <li class="li">Infrinja los derechos de otros, o de cualquier manera sea ilegal, amenazante, fraudulenta o da&ntilde;ina,
        o en
        conexi&oacute;n con cualquier prop&oacute;sito o actividad ilegal, fraudulenta o da&ntilde;ina.
    </li>
</ul>
Adem&aacute;s, acepta no:<br>
<ul>
    <li class="li">Usarla de cualquier manera que pueda deshabilitar, sobrecargar, da&ntilde;ar o interferir su uso por
        parte de otros.
    </li>
</ul>
<ul>
    <li class="li">Usar procesos para monitorear o copiar cualquier material contenido en ella o para cualquier otro
        prop&oacute;sito
        no autorizado sin nuestro consentimiento previo escrito.
    </li>
</ul>
<ul>
    <li class="li">Introducir virus, troyanos u otro material malicioso o tecnol&oacute;gicamente da&ntilde;ino.</li>
</ul>
<ul>
    <li class="li">Intentar obtener acceso no autorizado, interferir, da&ntilde;ar o interrumpir cualquier parte del
        servicio, el
        servidor en el que est&aacute; almacenada o cualquier servidor, computadora o base de datos conectada a nuestra
        aplicaci&oacute;n.
    </li>
</ul>
<ul>
    <li class="li">Atacar la aplicaci&oacute;n mediante un ataque de denegaci&oacute;n de servicio(DoS) o un ataque
        distribuido de
        denegaci&oacute;n de servicio(DdoS).
    </li>
</ul>

<p class="title">5. Anal&iacute;tica</p>
Podemos utilizar proveedores de servicios de terceros para monitorear y analizar el uso de nuestra
aplicaci&oacute;n.

<p class="title">6. Uso para mayores de 18 a&ntilde;os </p>
La aplicaci&oacute;n est&aacute; destinada &uacute;nicamente para el acceso y uso por parte de personas mayores de
18 a&ntilde;os. Al acceder o utilizar la aplicaci&oacute;n, usted garantiza y declara que tiene al menos 18 a&ntilde;os
de edad y tiene la autoridad, el derecho y la capacidad plenos para celebrar este acuerdo y cumplir con todos los t&eacute;rminos
y condiciones aqu&iacute; detallados. <br>
Si no tiene al menos 18 a&ntilde;os, tiene prohibido tanto el acceso como el uso de la aplicaci&oacute;n.

<p class="title">7. Registros</p>
Usted es responsable de mantener la confidencialidad de su cuenta y contrase&ntilde;a, incluida, entre otras, la
restricci&oacute;n de acceso a su computadora y/o cuenta. Usted acepta la responsabilidad por todas y cada una de
las actividades o acciones que ocurran bajo su cuenta y/o contrase&ntilde;a, aunque su contrase&ntilde;a sea de un
servicio de terceros. <br>
Debe notificarnos de inmediato cuando tenga conocimiento de cualquier violaci&oacute;n de seguridad o uso no
autorizado de su cuenta.

<p class="title">8. Propiedad intelectual</p>
La aplicaci&oacute;n y su contenido original (excluido el contenido proporcionado por los usuarios), las caracter&iacute;sticas
y la funcionalidad son y seguir&aacute;n siendo propiedad exclusiva de UTEC y de AlmaTech.<br>

<p class="title">9. Pol&iacute;tica de derechos de autor</p>
Respetamos los derechos de propiedad intelectual de otros. Es nuestra pol&iacute;tica responder a cualquier reclamo
acerca del contenido publicado en nuestra aplicaci&oacute;n, si este infringe los derechos de autor u otros derechos
de propiedad intelectual de cualquier persona o entidad.<br>
Si usted es propietario de derechos de autor, o est&aacute; autorizado en nombre de uno, y cree que el trabajo
protegido por derechos de autor se ha copiado de una manera que constituye su infracci&oacute;n, env&iacute;e su
reclamo por correo electr&oacute;nico a <span
        style="color: #176357">almatech20@gmail.com</span>, con el asunto: &quot;Infracci&oacute;n de derechos de
autor&quot; e incluya en su reclamo una descripci&oacute;n detallada de la supuesta infracci&oacute;n.<br>
Es posible que usted sea responsable de los da&ntilde;os (incluidos los costos y los honorarios de los abogados) por
tergiversaci&oacute;n o reclamos de mala fe sobre la infracci&oacute;n de cualquier contenido encontrado en y/o a
trav&eacute;s de nuestra aplicaci&oacute;n sobre sus derechos de autor.

<p class="title">10. Informe de errores y comentarios</p>
Puede proporcionarnos a trav&eacute;s de <span
        style="color: #176357">almatech20@gmail.com</span> con informaci&oacute;n y comentarios sobre errores,
sugerencias de mejoras, ideas, problemas, quejas y otros asuntos relacionados con nuestra aplicaci&oacute;n.<br>
Con respecto a esto usted reconoce y acepta que:<br><br>
<ul>
    <li class="li">AlmaTech puede tener ideas de desarrollo similares a los comentarios enviados.</li>
</ul>
<ul>
    <li class="li">Los comentarios enviados no contienen informaci&oacute;n confidencial o de propiedad suya o de
        terceros.
    </li>
</ul>
<ul>
    <li class="li">Almatech no tiene ninguna obligaci&oacute;n de confidencialidad con respecto a los comentarios que
        env&iacute;e.
    </li>
</ul>
<p class="title">11. Cancelaci&oacute;n</p>
Podemos cancelar o suspender su cuenta y prohibir el acceso al Servicio de inmediato, sin previo aviso ni
responsabilidad, bajo nuestro exclusivo criterio, por el incumplimiento de los t&eacute;rminos.

<p class="title">12. Normativa</p>
Estos t&eacute;rminos se regir&aacute;n e interpretar&aacute;n de acuerdo con las leyes de Uruguay, o de los pa&iacute;ses
en los que utilice la aplicaci&oacute;n, que se aplican a los acuerdos sin tener en cuenta las disposiciones sobre
conflictos de leyes.<br>
Nuestra falla en hacer cumplir cualquier derecho o disposici&oacute;n de estos t&eacute;rminos no se considerar&aacute;
una renuncia a estos. Si alguna disposici&oacute;n de los mismos se considera inv&aacute;lida o inaplicable por un
tribunal, las disposiciones restantes de ellos permanecer&aacute;n en vigor.

<p class="title">13. Modificaci&oacute;n de los t&eacute;rminos</p>
Podemos modificar estos t&eacute;rminos en cualquier momento, mediante la publicaci&oacute;n de las modificaciones
en nuestra aplicaci&oacute;n. Es su responsabilidad revisarlos peri&oacute;dicamente.<br>
La continuidad del uso de la aplicaci&oacute;n despu&eacute;s de la publicaci&oacute;n de los t&eacute;rminos
actualizados, &#8203;&#8203;significa que acepta y est&aacute; de acuerdo con los cambios. Se espera que consulte
esta p&aacute;gina con frecuencia para estar al tanto de los cambios, ya que son vinculantes para usted.<br>

<p class="title">14. Reconocimiento</p>
<span style="font-weight: bold"> AL UTILIZAR LA APLICACI&Oacute;N Y LOS SERVICIOS CONTENIDOS EN ELLA, USTED RECONOCE QUE HA LE&Iacute;DO ESTOS T&Eacute;RMINOS
    DE SERVICIO Y ACEPTA ESTAR REGULADO POR ELLOS.</span>

<p class="title">15. Contacto</p>
Env&iacute;e sus comentarios, sugerencias y solicitudes de asistencia t&eacute;cnica a nuestro correo electr&oacute;nico:
<p class="web">almatech20@gmail.com</p></p>
</body>
</html>