{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Detalles Paciente{% endblock %}
{% block page-title %}{{ patient.nombre }}
    {{ patient.primer_apellido }}{% endblock %}

{% block page-content %}
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"
                               style="width: 456px;">Información</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <p>
                                    <strong>Documento: </strong> {{ patient.documento }}
                                </p>
                                <p>
                                    <strong>Dirección: </strong> {{ patient.direccion }}, {{ patient.ciudad | lower | capfirst }}
                                </p>
                                <p>
                                    <strong>Celular: </strong> {{ patient.celular }}
                                </p>
                                {% if patient.email %}
                                    <p>
                                        <strong>Email: </strong> {{ patient.email }}
                                    </p>
                                {% endif %}
                                <p><strong>Fecha de
                                    Nacimiento: </strong> {{ patient.fecha_nacimiento }}
                                </p>
                                {% if user.userprofile.user_tipo == 'DOCTOR' and sin_patologias %}
                                    <p><strong>Antecedentes: </strong>
                                        <span class="badge badge-pill badge-warning">Paciente no cuenta con antecedentes clínicos</span>
                                        {% elif user.userprofile.user_tipo == 'DOCTOR' and antecedentes %}
                                    <p><strong>Antecedentes: </strong>
                                        {% if antecedentes.fumador == 'SI' %}
                                            <span class="badge badge-pill badge-info">Fumador</span>
                                        {% endif %}
                                        {% if antecedentes.alcohol == 'SI' %}
                                            <span class="badge badge-pill badge-info">Alcohol</span>
                                        {% endif %}
                                        {% if antecedentes.coproparasitario == 'SI' %}
                                            <span class="badge badge-pill badge-info">C.P.S.</span>
                                        {% endif %}
                                        {% if antecedentes.aparato_digestivo == 'SI' %}
                                            <span class="badge badge-pill badge-info">Aparato Digestivo</span>
                                        {% endif %}
                                        {% if antecedentes.dermatologicos == 'SI' %}
                                            <span class="badge badge-pill badge-info">Dermatológicos</span>
                                        {% endif %}
                                        {% if antecedentes.alergias == 'SI' %}
                                            <span class="badge badge-pill badge-info">Alergias</span>
                                        {% endif %}
                                        {% if antecedentes.autoinmunes == 'SI' %}
                                            <span class="badge badge-pill badge-info">Autoinmunes</span>
                                        {% endif %}
                                        {% if antecedentes.oncologicas == 'SI' %}
                                            <span class="badge badge-pill badge-info">Oncológicas</span>
                                        {% endif %}
                                        {% if antecedentes.hematologicas == 'SI' %}
                                            <span class="badge badge-pill badge-info">Hematológicas</span>
                                        {% endif %}
                                        {% if antecedentes.intervenciones == 'SI' %}
                                            <span class="badge badge-pill badge-info">Intervenciones</span>
                                        {% endif %}
                                        {% if antecedentes.toma_medicacion == 'SI' %}
                                            <span class="badge badge-pill badge-info">Medicación</span>
                                        {% endif %}
                                        {% if antecedentes.endocrinometabolico != "['NO']" %}
                                            <span class="badge badge-pill badge-info">Endocrinometabólico</span>
                                        {% endif %}
                                        {% if antecedentes.cardiovascular != "['NO']" %}
                                            <span class="badge badge-pill badge-info">Cardiovascular</span>
                                        {% endif %}
                                        {% if antecedentes.nefrourologicos != "['NO']" %}
                                            <span class="badge badge-pill badge-info">Nefrourológicos</span>
                                        {% endif %}
                                        {% if antecedentes.osteoarticulares != "['NO']" %}
                                            <span class="badge badge-pill badge-info">Osteoarticular</span>
                                        {% endif %}
                                    </p>
                                {% elif user.userprofile.user_tipo == 'DOCTOR' %}
                                    <p><strong>Antecedentes: </strong>
                                    <span class="badge badge-pill badge-danger">No existen registros</span>
                                {% endif %}
                            </div>
                            <div class="row justify-content-end mr-3"><a
                                    href="/dentalE/editarpaciente/{{ patient.paciente_id }}"
                                    style="text-align: left;">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.userprofile.user_tipo == 'DOCTOR' %}
            <div class="col-lg-4">
                <div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">
                                Registrar
                                Consultas</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><i class="fas fa-teeth-open"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/agregarcpo/">Agregar
                                    CPO</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="fas fa-tooth"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/agregartratamiento/">Agregar
                                    Consulta Odontología Gral.</a></div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="fas fa-teeth"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/agregarortodoncia/">Agregar
                                    Consulta Ortodoncia |
                                    Ortopedia</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">
                                Historia
                                Clínica</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><i class="fa fa-file-text-o"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/antecedentespaciente/{{ patient.paciente_id }}">Ver
                                    historia clínica</a></div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="far fa-file-pdf"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/generarhistoriapdf/{{ patient.paciente_id }}"
                                        target="_new">Descargar
                                    historia clínica</a></div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="far fa-bar-chart"
                                                    style="margin-right: 15px;"></i><a
                                        href="/dentalE/generarestadistica/{{ patient.paciente_id }}">Ver
                                    Estadísticas de Consultas </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if user.userprofile.user_tipo == 'DOCTOR' %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Últimas Consultas
                    Odontología Gral.</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable"
                     role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead class="card-header py-3">
                        <tr>
                            <th>Fecha</th>
                            <th>Diagnóstico</th>
                            <th>Tratamiento</th>
                            <th>Indicaciones</th>
                            <th>Profesional</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if consultas %}
                            {% for c in consultas %}
                                <tr class="tr-body">
                                    <td>{{ c.creado|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ c.diagnostico }}</td>
                                    <td>{{ c.tratamiento }}</td>
                                    <td>{{ c.indicaciones }}</td>
                                    <td>{{ c.doctor.get_full_name }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="no-data">
                                <td colspan="20">No existen consultas
                                    registradas para este paciente en
                                    el sistema.
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Última Consulta
                    Ortodoncia | Ortopedia</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable"
                     role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead class="card-header py-3">
                        <tr>
                            <th>Fecha</th>
                            <th>Imagen</th>
                            <th>Información</th>
                            <th>Profesional</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if ortodoncia %}
                            <tr class="tr-body">
                                <td>{{ ortodoncia.creado|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>
                                    {% if ortodoncia.image %}
                                        <img
                                                src="data:image/jpeg;base64,{{ ortodoncia.image }}"
                                                class="media-object img-fluid img-max"
                                                alt="Imagen última consulta">
                                    {% else %}
                                        No existe registro
                                    {% endif %}
                                </td>
                                <td>
                                    <p>
                                        <strong>Diagnóstico: </strong> {{ ortodoncia.diagnostico }}
                                    </p>
                                    <p>
                                        <strong>Tratamiento: </strong> {{ ortodoncia.tratamiento }}
                                    </p>
                                    <p>
                                        <strong>Indicaciones: </strong> {{ ortodoncia.indicaciones }}
                                    </p>
                                </td>
                                <td>{{ ortodoncia.doctor.get_full_name }}</td>

                            </tr>

                        {% else %}
                            <tr class="no-data">
                                <td colspan="20">No existen consultas
                                    registradas para este paciente en
                                    el sistema.
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block page-javascript %}
{% endblock %}
