{% extends "almaFront/bases/blank.html" %}
{% load static %}
{% block tab-title %}Pacientes{% endblock %}
{% block page-title %}Pacientes{% endblock %}

{% block page-content %}
    <div class="card shadow">
        <div class="card-body">
            <div class="row justify-content-end">
                <div>
                    <form method="GET" id="search-form" autocomplete="on" >
                        <div class="search-div input-group">{% csrf_token %}
                            <input type="text" class="bg-light form-control border-0 small"
                                   name="buscar" value="{{ documento }}"
                                   placeholder="Buscar paciente...">
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0" type="submit" id="search-btn" >
                                    <i class="fas fa-search text-grey" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead class="card-header py-3">
                    <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if patients %}
                        {% for pat in patients %}
                            <tr class="tr-body">
                                <td>{{ pat.documento }}</td>
                                <td><a class="a-link"
                                       href="/dentalE/pacientedetalles/{{ pat.paciente_id }}">{{ pat.nombre }} {{ pat.primer_apellido }}</a>
                                </td>
                                <td>{{ pat.email }}</td>
                                <td>{{ pat.celular }}</td>
                                <td>
                                    <a href="{% url 'pacientedetalles' pat.paciente_id %}">
                                        <span><i class="fas fa-pencil-alt"></i></span></a>
                                </td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr class="no-data">
                            <td colspan="20">No existen pacientes en el sistema.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    {% if is_paginated %}
        {% include "paginator.html" %}
    {% endif %}
{% endblock %}

{% block page-javascript %}
{% endblock %}